version: "3.8"

services:
  api:
    platform: linux/amd64
    build: ./api
    container_name: api_c
    volumes:
      - ./:/app/api:ro
    command: uvicorn api.fast_api_app.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
