@layer components {
    /* ************************************************************************************************ */
    /* Frame ********************************************************************************* */
    /* *************************************************************************************************/

    .main-grid {
        .sidebar {
            @apply bg-slate-200 shadow-md;
        }
    }

    /* *************************************************************************************************/
}
