/* ************************************************************************************************ */
/* SCSS Variables ********************************************************************************* */
/* ************************************************************************************************ */

#root {
    height: 100%;
    background-color: $color-white;

    .main-grid {
        height: 100%;
        display: grid;
        grid-template-columns: 15% 60% 25%;
        grid-template-rows: 100%;

        .component-col {
            border: 1px solid green;
        }
    }
}
