/* ************************************************************************************************ */
/* Frame ********************************************************************************* */
/* *************************************************************************************************/

#root {
  background-color: $color-white;
  height: 100%;
  z-index: 1;

  .main-grid {
    display: grid;
    grid-template-columns: 15% 60% 25%;
    grid-template-rows: 100%;
    height: 100%;
    z-index: 1;

    .component-col {
      &.left-sidebar {
        background-color: $color-white-2;
        box-shadow: 0 3px 15px $color-black-bs;
        z-index: 2;
      }

      &.main-panel {
        background-color: $color-white-main;
        z-index: 1;
      }

      &.right-sidebar {
        background-color: $color-white-2;
        box-shadow: 0 3px 15px $color-black-bs;
        z-index: 2;
      }
    }
  }
}
