/* ************************************************************************************************ */
/* Footer ***************************************************************************************** */
/* ************************************************************************************************ */
.footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  color: $color-gray-d;
  font-size: 0.7rem;

  @include opacity(0.5);
}
