/* ************************************************************************************************ */
/* Colors ***************************************************************************************** */
/* ************************************************************************************************ */
$color-white 	    : #fff;
$color-white-main   : #FBFBFD;
$color-white-2      : #F5F5F7;

$color-black        : #000;

$color-gray-f       : #fafafa;
$color-gray-e       : #eee;
$color-gray-d       : #ddd;
$color-gray-c       : #ccc;
$color-gray-b       : #bbb;
$color-gray-a       : #aaa;

$color-gray-9       : #999;
$color-gray-8       : #888;
$color-gray-7       : #777;
$color-gray-6-5     : #6c757e;
$color-gray-6       : #666;
$color-gray-5       : #555;
$color-gray-4       : #444;
$color-gray-3       : #333;
$color-gray-2       : #222;
$color-gray-1       : #111;

$color-green-1      : #93c90f;
$color-green-2      : #94c90fba;

$color-blue-1       : #93c4e3;
$color-blue-2       : #75c2f1;
$color-blue-3       : #2fa4ec;
$color-blue-4       : #1473af;
$color-blue-5       : #053e61;
$color-blue-6       : #2a323f;

$color-purple-1     : #a0a;
$color-purple-2     : #72246c;

$color-red-1        : #ff5e5f;
$color-red-2        : #e54848;

$color-orange-1     : #ff9e18;

$color-yellow-1     : #fcdf51;
