/* ************************************************************************************************ */
/* Footer ***************************************************************************************** */
/* ************************************************************************************************ */
.footer {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 9999;
	color: $color-gray-d;
	font-size: 0.70rem;

	@include opacity(0.50);
	}
