/* ************************************************************************************************ */
/* Colors ********************************************************************************* */
/* *************************************************************************************************/

$white-main: #fbfbfd;
$white-secondary: #f5f5f7;
$black: #000000;
